@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100dvw;
  height: fit-content;
  margin: 0;
  padding: 0%;
}

.centeredContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.centeredText {
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.dramaticText {
  font-size: 2em;
  font-weight: 800;
  color: #646cff;
  text-shadow: 0 0 1em #646cff;
  text-align: center;
}

/* DramaticReply.css */

.dramatic-reply-container {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
  overflow: hidden;
}

.parallax > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Adjust the background image properties for a full cover and fixed position to enhance the parallax effect */
.parallaxLayer {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Example Background Gradient - You can replace this with an actual image or another gradient */
.parallaxLayer {
  background: linear-gradient(to bottom, #002f4b, #dc4225);
}

@media (max-width: 768px) {
  .dramatic-text {
    font-size: 18px;
  }
}

/* Define the fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Apply the animation to the dramatic-text class */
.dramatic-text {
  /* Existing styles */
  max-width: 600px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  font-size: 20px;
  line-height: 1.6;
  color: white; /* Example color */
  text-align: center;

  /* Animation properties */
  animation: fadeIn 3s ease-out forwards; /* Adjust the duration (3s) as needed */
}
